<div class="registration">
<form #registrationForm="ngForm" (submit)="registrationForm.form.valid && doRegister(registrationForm)">
<mat-card>
    <mat-card-title>Register</mat-card-title>

    <mat-card-content>
      <mat-form-field>
          <input matInput minlength="3" maxlength="200"
            [(ngModel)]="registrationData.username"
            #username="ngModel"
            placeholder="Username"
            name="username"/>
          <mat-error *ngIf="username.errors && username.errors.minlength" >
              Username must be at least 5 characters long.
          </mat-error>
          <mat-error *ngIf="username.errors && username.errors.maxlength" >
            Username must be at most 200 characters long.
          </mat-error>
          <mat-error *ngIf="username.errors && username.errors.required" >
            Username is required!
          </mat-error>
      </mat-form-field>

      <mat-form-field>
          <input matInput minlength="8" maxlength="200"
            [(ngModel)]="registrationData.password"
            #password="ngModel"
            placeholder="Password"
            type="password"
            name="password"/>
            <mat-error *ngIf="password.errors && password.errors.minlength" >
              Password must be at least 8 characters long.
            </mat-error>
            <mat-error *ngIf="password.errors && password.errors.maxlength" >
              Password must be at most 200 characters long.
          </mat-error>
      </mat-form-field>

      <mat-form-field>
          <input matInput minlength="8" maxlength="200"
            [(ngModel)]="registrationData.password_repeated"
            #passwordRepeat="ngModel"
            placeholder="Password (repeated)"
            type="password"
            name="passwordRepeat"/>
          <mat-error *ngIf="passwordRepeat.errors && passwordRepeat.errors.minlength" >
            Password must be at least 8 characters long.
          </mat-error>
          <mat-error *ngIf="passwordRepeat.errors && passwordRepeat.errors.maxlength" >
            Password must be at most 200 characters long.
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput minlength="1" maxlength="200" email
          [(ngModel)]="registrationData.email_address"
          #emailAddress="ngModel"
          placeholder="Email Address"
          name="emailAddress"/>
        <mat-error *ngIf="emailAddress.errors && emailAddress.errors.maxlength" >
          Email Address must be at most 200 characters long.
        </mat-error>
        <mat-error *ngIf="emailAddress.errors && emailAddress.errors.email" >
          Email Address as to be a valid address!
        </mat-error>
      </mat-form-field>

      <app-alert></app-alert>

    </mat-card-content>

    <button mat-raised-button color="primary" type="submit" [disabled]="!registrationForm.form.valid">Register</button>

</mat-card>
</form>
</div>
