<div class="login">
<form #loginForm="ngForm">
<mat-card>
      <mat-card-actions>
      <a [routerLink]="['/registration']" id="registration-link">Register</a>
      </mat-card-actions>

    <mat-card-title>Login</mat-card-title>

    <mat-card-content>
    <mat-form-field>
        <input matInput required minlength="3" maxlength="200" [(ngModel)]="user.username" #username="ngModel" placeholder="Username" (keyup.enter)="loginForm.form.valid && doLogin()" name="username"/>
        <mat-error *ngIf="username.errors && username.errors.maxlength" >
          Username must be at most 200 characters long.
        </mat-error>
        <mat-error *ngIf="username.errors && username.errors.minlength" >
          Username must be at least 5 characters long.
        </mat-error>
        <mat-error *ngIf="username.errors && username.errors.required" >
          Username is required!
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput required minlength="8" maxlength="200" [(ngModel)]="user.password" #password="ngModel" placeholder="Password" type="password" (keyup.enter)="loginForm.form.valid && doLogin()" name="password"/>
        <mat-error *ngIf="password.errors && password.errors.maxlength" >
          Password must be at most 200 characters long.
        </mat-error>
        <mat-error *ngIf="password.errors && password.errors.required" >
          Password is required!
        </mat-error>
    </mat-form-field>
    </mat-card-content>

    <button mat-raised-button color="primary" (click)="doLogin()" [disabled]="!loginForm.form.valid">Login</button>
    <div>
    <a [routerLink]="['/reset-password']">Reset Password</a>
    </div>

</mat-card>
</form>
</div>
