div.login {
    text-align: center;
}

div.login mat-card {
    width: 250px;
    text-align: left;
    display: inline-block;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

#registration-link {
  float: right;
  margin-right: 50px;
  font-size: 0.8em;
}
