<div class="login">
<form #loginForm="ngForm">
<md-card>
    <md-card-title>Login</md-card-title>
    <p>
    <md-form-field>
        <input mdInput required minlength="3" maxlength="200" [(ngModel)]="user.username" #username="ngModel" placeholder="Username" (keyup.enter)="doLogin()" name="username"/>
        <md-error *ngIf="username.errors && username.errors.maxlength" >
          Username must be at most 200 characters long.
        </md-error>
        <md-error *ngIf="username.errors && username.errors.minlength" >
          Username must be at least 5 characters long.
        </md-error>
        <md-error *ngIf="username.errors && username.errors.required" >
          Username is required!
        </md-error>
    </md-form-field>
    </p>
    <p>
    <md-form-field>
        <input mdInput required minlength="1" maxlength="200" [(ngModel)]="user.password" #password="ngModel" placeholder="Password" type="password" (keyup.enter)="doLogin()" name="password"/>
        <md-error *ngIf="password.errors && password.errors.maxlength" >
          Password must be at most 200 characters long.
        </md-error>
        <md-error *ngIf="password.errors && password.errors.required" >
          Password is required!
        </md-error>
    </md-form-field>
    </p>
    <p>
    <button md-raised-button color="primary" (click)="doLogin()" [disabled]="!loginForm.form.valid">Login</button>
    </p>
</md-card>
</form>
</div>
