<div class="login">
<md-card>
    <md-card-title>Login</md-card-title>
    <p>
    <md-form-field>
        <input mdInput [(ngModel)]="user.username" placeholder="Username" (keyup.enter)="doLogin()"/>
    </md-form-field>
    </p>
    <p>
    <md-form-field>
        <input mdInput [(ngModel)]="user.password" placeholder="Password" type="password" (keyup.enter)="doLogin()"/>
    </md-form-field>
    </p>
    <p>
        <button md-raised-button color="primary" (click)="doLogin()" >Login</button>
    </p>
</md-card>
</div>
