@font-face {
  font-family: 'EBGaramond12Regular';
  src:  url('../../assets/fonts/ebgaramond12-regular-webfont.woff2') format('woff2'),
        url('../../assets/fonts/ebgaramond12-regular-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NobileRegular';
  src:  url('../../assets/fonts/nobile-regular-webfont.woff2') format('woff2'),
        url('../../assets/fonts/nobile-regular-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@import '~material-design-icons/iconfont/material-icons.css';

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* everywhere else */
* {
  font-family: 'NobileRegular';
}


