<div class="app-menu">
  <div>
      <button md-icon-button [mdMenuTriggerFor]="menu"  class="menu-icon">
          <md-icon>more_vert</md-icon>
      </button>
      <span>
      <item-search></item-search>
      </span>
  </div>
  <md-menu #menu="mdMenu">
      <a md-menu-item routerLink="/" routerLinkActive="active">Dashboard</a>
      <a (click)="doLogout()" md-menu-item >Logout</a>
  </md-menu>
</div>
<md-card>
<md-form-field class="add-form">
  <input mdInput placeholder="Add Item" #addBox (keyup.enter)="addItem(addBox.value);addBox.value=''" />
</md-form-field>
<md-accordion class="shopping-list-accordion" [sortablejs]="shoppingList" [sortablejsOptions]="options">
<md-expansion-panel  *ngFor="let item of shoppingList" [expanded]="isExpanded(item)" (closed)="onClose(item)" (opened)="onOpen(item)" hideToggle="true">
    <md-expansion-panel-header>
      <md-panel-title>
        {{item.name}}
      </md-panel-title>

    </md-expansion-panel-header>
    <md-panel-description>
    <div>{{item.description}}</div>
    <md-checkbox [(ngModel)]="item.checked" (change)="itemChange(item)">Got it!</md-checkbox>
    </md-panel-description>
    <md-action-row>
        <button (click)="gotoDetail()" md-raised-button color="primary">Edit</button>
        <button class="delete" (click)="deleteItem(item); $event.stopPropagation()" md-raised-button color="warn">delete</button>
    </md-action-row>
</md-expansion-panel>
</md-accordion>
</md-card>

<md-expansion-panel>
  <md-expansion-panel-header>
    <md-panel-title>
      Read items
    </md-panel-title>
  </md-expansion-panel-header>
  <md-panel-description class="read-shopping-outer-description">
    <md-accordion class="read-shopping-list-accordion">
      <md-expansion-panel  *ngFor="let item of readShoppingList" [expanded]="isExpanded(item)" (closed)="onClose(item)" (opened)="onOpen(item)" hideToggle="true">
          <md-expansion-panel-header>
            <md-panel-title>
              {{item.name}}
            </md-panel-title>
          </md-expansion-panel-header>
          <md-panel-description>
          <div>{{item.description}}</div>
          <md-checkbox [(ngModel)]="item.checked" (change)="itemChange(item)">Got it!</md-checkbox>
          </md-panel-description>
          <md-action-row>
              <button (click)="gotoDetail()" md-raised-button color="primary">Edit</button>
              <button class="delete" (click)="deleteItem(item); $event.stopPropagation()" md-raised-button color="warn">delete</button>
          </md-action-row>
      </md-expansion-panel>
    </md-accordion>
  </md-panel-description>
</md-expansion-panel>

