
.shopping-list-accordion .mat-expansion-panel-header-title,
.shopping-list-accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.shopping-list-accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.delete {
    margin-left: 10px;
}
