
.read-shopping-list-accordion .mat-expansion-panel-header-description,
.shopping-list-accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.read-shopping-list-accordion {
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.read-shopping-list-accordion .mat-expansion-panel-header-description,
.shopping-list-accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.read-shopping-outer-description {
    margin-right: 0px;
}

.delete {
    margin-left: 10px;
}

.app-menu {
  margin: 0px 10px 0px;
}

.add-form {
  margin-left: 20px;
}

.item-draw-handle {
  color:#aaa;
}

.show-read-items button {
  margin:10px 10px 5px;
}

md-sidenav-container {
  padding-top:20px;
  height: 100vh;
}

md-sidenav {
  width: 200px;
}
