<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push" align="start">
    <mat-nav-list>
    <a *ngFor="let entry of shoppingLists" mat-list-item routerLink="/{{entry.shopping_list_id}}" routerLinkActive="active">{{entry.shopping_list_name}}</a>
    <a mat-list-item (click)="doLogout()" >Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <div class="app-menu">
    <div class="align-last-right">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>
        <app-item-search></app-item-search>
        </span>
    </div>
  </div>
  <mat-form-field class="add-form">
    <input matInput placeholder="Add Item" #addBox (keyup.enter)="addItem(addBox.value);addBox.value=''" />
  </mat-form-field>
  <mat-accordion class="shopping-list-accordion" [dragula]='"shoppinglist-bag"' [dragulaModel]='shoppingList'>
  <mat-expansion-panel  *ngFor="let item of shoppingList" [expanded]="isExpanded(item)" (closed)="onClose(item)" (opened)="onOpen(item)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="align-last-right">{{item.name}}<span><mat-icon class="item-drag-handle" (swipe)="onSwipe($event)">drag_handle</mat-icon></span></div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
      <div>{{item.description}}</div>
      <mat-checkbox [(ngModel)]="item.checked" (change)="itemChange(item)">Got it!</mat-checkbox>
      </mat-panel-description>
      <mat-action-row>
          <button (click)="gotoDetail(item)" mat-raised-button color="primary">Edit</button>
          <button class="delete" (click)="deleteItem(item); $event.stopPropagation()" mat-raised-button color="warn">delete</button>
      </mat-action-row>
  </mat-expansion-panel>
  </mat-accordion>
  <div class="align-last-right show-read-items">
    <div>&nbsp;</div>
    <button mat-button color="primary" (click)="toggleReadItems()">show read items</button>
  </div>
  <mat-accordion class="read-shopping-list-accordion" *ngIf="readItemsVisible">
    <mat-expansion-panel  *ngFor="let item of readShoppingList" [expanded]="isExpanded(item)" (closed)="onClose(item)" (opened)="onOpen(item)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
        <div>{{item.description}}</div>
        <mat-checkbox [(ngModel)]="item.checked" (change)="itemChange(item)">Got it!</mat-checkbox>
        </mat-panel-description>
        <mat-action-row>
            <button (click)="gotoDetail()" mat-raised-button color="primary">Edit</button>
            <button class="delete" (click)="deleteItem(item); $event.stopPropagation()" mat-raised-button color="warn">delete</button>
        </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

</mat-sidenav-container>
