
  <md-card *ngIf="item" class="item-details">
      <md-card-title>{{item.name}}</md-card-title>
      <div class="item-position"><label>Position: </label>{{item.order}}</div>
      <div>
        <md-form-field>
        <input mdInput [(ngModel)]="item.name" placeholder="Name"/>
        </md-form-field>
      </div>
      <div>
        <md-form-field>
        <input mdInput [(ngModel)]="item.description" placeholder="Description" />
        </md-form-field>
      </div>
      <button (click)="goBack()" md-raised-button >Back</button>
      <button (click)="save()" md-raised-button color="primary">Save</button>
  </md-card>
